<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Profile </title>
</head>
<body>
  Full Name: {{user.first_name}} {{user.last_name}}<br>
  Phone Number : {{user.phone_number}}<br>
  Email Address: {{user.email}}<br>

  <form action="/request" method="POST">
    {% csrf_token %}
    Day off request: <input type="date" name="date" id="date">
    Excuse: <textarea id="description" name="description" rows="4" cols="50" placeholder="Enter Excuse here">
      
    </textarea>
    <input type="submit" name="request" value="Request">

  </form>
  
</body>
</html>